
<body id="body">

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" id="navbrand" href="/" aria-hidden="true">PHOTOSPHERE</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/register">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="#"> Logged In As</a></li>
                            <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>


<!--    
<nav class="navbar navbar-inverse  navbar-fixed-top">
          <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
 
                    </button>
                    <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> IMGs
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-nav-demo" >
                    <ul class="nav navbar-nav">
                                <li ><a href="#">Home</a></li>
                                <li><a href="#">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Sign Up</a></li>
                                <li><a href="#">Login</a></li>
                    </ul>
                 </div>
        </div>
</nav>
-->
